body {
  margin: 0;
  padding: 0;

  background: #fc00ff; /* fallback for old browsers */
  background: linear-gradient(to right, #fc00ff, #00dbde);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
